$menu-font: Gothamrounded, 700, 16px, $white, 2.4px, uppercase

=font($fontfamily: Gothamrounded, $weight: 700, $size: 12px, $color: $white, $spacing: 2.4px, $transform: uppercase)
	fontfamily: $fontfamily
	font-weight: $weight
	font-size: $size
	color: $color
	letter-spacing: $spacing
	text-transform: $transform
